body { font-family: Baskerville, Georgia, serif; }



p { text-align:justify; line-height:1.5em;} 

h1 { text-align: center; }
h2 { text-align: center; }

a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }


hr {  border:0px dashed silver; width:100%; margin-bottom:1.5em; margin-top:1.5em; clear:both;}
hr.hr2 { width:300px; border:none; }

h1,h2,h3,h4,h5 { clear:both; }

/*.fig { margin-bottom:1em; border:1px solid gray; margin-right: 1em; margin-top:0; float:left; text-align:center; font-size:0.8em; font-style: none; }*/

img { border: 1px solid gray; }

li { clear:both; }


ul {
  position: relative;
  list-style: none;
}
/*li { margin-left:-10px;}*/

li::before {
  content: '⇨';
  position: absolute;
  left: 10;
}
